info:
  app:
    version: '@project.version@'

application:
  module: ${MODULE_NAME:api-regime-geral}
  ibs:
    enabled: true

spring:
  application:
    name: api-regime-geral
  config:
    activate:
      on-profile: offline
  datasource:
    url: jdbc:sqlite:file:./calculadora/db/calculadora.db?date_class=TEXT&date_string_format=yyyy-MM-dd
    username: sa
    password:
    driverClassName: org.sqlite.JDBC
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    defer-datasource-initialization: true
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        "[format_sql]": false
  sql:
    init:
      mode: embedded
  task:
    execution:
      pool:
        max-size: 16
        queue-capacity: 100
        keep-alive: "10s"
  devtools:
    add-properties: false
  jackson:
    date-format: yyyy-MM-dd'T'HH:mm:ssXXX       # Formato de data/hora padrão (ISO 8601 com offset)
    serialization:
      write-dates-as-timestamps: false          # Escrever datas como strings ao invés de timestamps
    deserialization:
      adjust-dates-to-context-time-zone: false  # Ajustar datas para o timezone configurado
      fail-on-unknown-properties: false         # Falhar se propriedade desconhecida for encontrada
    property-naming-strategy: LOWER_CAMEL_CASE  # Estratégia de nomenclatura de propriedades
    default-property-inclusion: NON_NULL
  http:
    codecs:
      max-in-memory-size: 500KB

logging:
  level:
    root: INFO
    org:
      springframework:
        security: INFO
        web:
          filter: INFO
        data:
          jpa: INFO
          jdbc: INFO
      hibernate:
        orm:
          jdbc:
            bind: INFO
        SQL: INFO
        type: INFO
    com:
      zaxxer:
        hikari:
          HikariConfig: INFO
    br:
      gov:
        serpro:
          rtc: INFO

server:
  port: 8080
  servlet:
    context-path: /api
  tomcat:
    threads:
      max: 250
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 1024

springdoc:
  version: '@springdoc.version@'
  api-docs:
    path: /api-docs
    version: openapi-3-1
  swagger-ui:
    layout: BaseLayout
    display-request-duration: true
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    use-root-path: true
    supported-submit-methods: ["get", "post"]
  show-actuator: false
  cache:
    disabled: true

cache:
  specs:
    - name: AliquotaAdRemProdutoRepository.buscarAliquotaAdRem
      expireAfterWrite: "P1D"
      initialCapacity: 100
    - name: AliquotaAdValoremProdutoRepository.buscarAliquotaAdValorem
      expireAfterWrite: "P1D"
      initialCapacity: 100
    - name: AliquotaPadraoRepository.buscarAliquotaUniao
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: AliquotaPadraoRepository.buscarAliquotaUf
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: AliquotaPadraoRepository.buscarAliquotaMunicipio
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: AliquotaReferenciaRepository.buscar
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: ClassificacaoTributariaRepository.buscarClassificacaoTributariaCbsIbs
      expireAfterWrite: "P1D"
      initialCapacity: 100
    - name: ClassificacaoTributariaRepository.buscarClassificacaoTributariaImpostoSeletivo
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: FundamentacaoClassificacaoRepository.buscar
      expireAfterWrite: "P1D"
      initialCapacity: 200
    - name: NbsAplicavelRepository.temNbsAplicavel
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: NbsAplicavelRepository.temExcecaoNbsAplicavel
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: NbsAplicavelRepository.temNbsAplicavelSemExcecao
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: NbsAplicavelRepository.tem
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: NbsRepository.existeNbs
      expireAfterWrite: "P1D"
      initialCapacity: 500
    - name: NcmAplicavelRepository.temNcmAplicavel
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: NcmAplicavelRepository.temExcecaoNcmAplicavel
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: NcmAplicavelRepository.temNcmAplicavelSemExcecao
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: NcmAplicavelRepository.tem
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: NcmRepository.existeNcm
      expireAfterWrite: "P1D"
      initialCapacity: 500
    - name: PercentualReducaoRepository.buscar
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: SituacaoTributariaRepository.existeCst
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: TratamentoClassificacaoRepository.buscarTratamentoClassificacao
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: UfRepository.consultarPorSigla
      expireAfterWrite: "P1D"
      initialCapacity: 50
    - name: UfRepository.existeUf
      expireAfterWrite: "P1D"
      initialCapacity: 30
    - name: TemplateTokenizerService.tokenize
      expireAfterWrite: "P1D"
      initialCapacity: 100
    - name: TokenCacheService.get
      expireAfterWrite: "P1D"
      initialCapacity: 100
    - name: VersaoBaseDadosService.getUltimaVersao
      expireAfterWrite: "PT1M"
      initialCapacity: 1


management:
  server:
    port: 9101
  endpoints:
    web:
      exposure:
        include: health, prometheus
      base-path: "/"
      path-mapping:
        prometheus: "metrics"

versao:
  url: ${VERSAO_OFFLINE_URL:https://piloto-cbs.tributos.gov.br/servico/calculadora-consumo/api/calculadora/dados-abertos/versao}
